@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

* {
    box-sizing: border-box;
}

/* 13:53 */

/* Flex: Taşıyıcı elemana tanımlanan flex özelliği taşıyıca esneklik kazandırır. Böylece alt elemanlar taşıyıcı içerisinde kolay bir şekilde yerleştirilebilir hale gelir. */
body {
    font-family: 'Merriweather', serif;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* rem	rem boyutu ize kök dizinin yazı büyüklüğüne bağlıdır. Örneğin html{font-size:10px;} ise 2rem = 20px olacaktır. 
vh	viewport height yani görüntü alanı yüksekliğine bağlı bir uzunluk birimidir.
vw	viewport width yani görüntü alanı genişliğine bağlı bir uzunluk birimidir.*/

.container {
    background-color: tomato;
    border-radius: 1rem;
    padding: 3rem 5rem;
    color: #fff;
    margin: 20px auto;
    max-width: 35rem;
    position: relative;
}

.fa-quote {
    color: rgba(255, 255, 255, 0.3);
    font-size: 1.5rem;
    position: absolute;
    top: 70px;
}

.fa-quote-right {
    left: 40px;
}

.fa-quote-left {
    right: 40px;
}

.user-text {
    line-height: 1.5rem;
    text-align: justify;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* object-fit özelliği, bir öğenin içerik kutusunun yüksekliğine ve genişliğine nasıl tepki verdiğini tanımlar. object-position özelliği ile birlikte resimler, videolar vd. medya formatları için tasarlanmıştır. */
.user-img {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    object-fit: cover;
}

.user-details {
    margin-left: 1rem;
}

.user .username{
    margin: 0;
}

.user .job{
    margin: 10px 0;
}

.progress-bar{
    border-radius: 1rem;
    height: 4px;
    background: #ffff;
    width: 100%;
    animation: grow 5s linear infinite;
    transform-origin: left;
}

@keyframes grow{
    0%{
        transform: scale(0);
    }
}

/* @media tabletler, iPhone ve Android cihazlara özel stil tanımlamak için kullanılan popüler bir tekniktir.Yani bir sitenin min-width'i 960px diyelim. Eğer farklı çözünürlükte gireceksek siteye media(max-width:960px) o çözünürlüğün altında işlem yapabiliriz. */
@media(max-width:35rem) {

    .fa-quote{
        top: 50px;
    }
    .fa-quote-right {
        left: 20px;
    }

    .fa-quote-left {
        right: 20px;
    }

    .container {
        padding: 2rem 3rem;
    }
}